/*ion-content{
  background: green;
  color: red;
}

ion-list, ion-item{
  background: linear-gradient(180deg, green, white, greenyellow);
  color: red;
}

p{
  color: black;
  font-size: 18px;
}

h2{
  color: red;
  font-size: 25px;
}*/