table, div{
  text-align: center;
}

/*ion-content, ion-header, ion-navbar{
  background: linear-gradient(70deg, green, white, green);
  color: red;
  font-size: 20px;
  text-shadow: 3px 3px black;
  text-align: center;
}*/
