<ion-header>
	<ion-navbar color="secondary">
		<ion-title align="center">Indicadores de Produção</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-list>

		<ion-item *ngFor="let producao of lista | async">

			<h2 align="center" *ngIf="producao.data" displayFormat="DD/MM/YYYY">{{producao.data}}</h2>
			<table align="center">
				<tr>
					<td>
						<p *ngIf="producao.litroleite">Total Produção: {{producao.litroleite}} litros</p>
						<p *ngIf="!producao.litroleite">Total Produção: (Não cadastrado)</p>
					</td>
				</tr>
			</table>
		</ion-item>

	</ion-list>

</ion-content>